In [1]:
#Import dependencies

from sqlalchemy import create_engine
import pandas as pd
import os
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
#Create password variable
#from config import
db_password = 'Hetheru7!'

In [3]:
#Create connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/NFL Predict"

In [4]:
#Create the database engine
engine = create_engine(db_string)

In [5]:
#Import SQL tables as dataframes

coach_df = pd.read_sql_table('coach_rtrn',db_string)
standings_df = pd.read_sql_table('nfc_standings',db_string)

In [47]:
standings_df.drop(standings_df.columns[1], axis =1, inplace = True)
standings_df

   team_id  wins  losses win_pct
0   NFC001    11       6   0.647
1   NFC002     7      10   0.412
2   NFC003     5      12   0.294
3   NFC004     6      11   0.353
4   NFC005    12       5   0.706
5   NFC006     3      13   0.206
6   NFC007    13       4   0.765
7   NFC008    12       5   0.706
8   NFC009     8       9   0.471
9   NFC010     9       8   0.529
10  NFC011     4      13   0.235
11  NFC012     9       8   0.529
12  NFC013    10       7   0.588
13  NFC014     7      10   0.412
14  NFC015    13       4   0.765
15  NFC016     7      10   0.412

In [48]:
coach_df.drop(coach_df.columns[1], axis =1, inplace = True)
coach_df

   team_id       coach_2020       coach_2021
0   NFC001  Kliff Kingsbury  Kliff Kingsbury
1   NFC002    Raheem Morris     Arthur Smith
2   NFC003       Matt Rhule       Matt Rhule
3   NFC004        Matt Nagy        Matt Nagy
4   NFC005    Mike McCarthy    Mike McCarthy
5   NFC006    Matt Patricia     Dan Campbell
6   NFC007     Matt LaFleur     Matt LaFleur
7   NFC008       Jon Gruden       Jon Gruden
8   NFC009      Mike Zimmer      Mike Zimmer
9   NFC010   Bill Belichick   Bill Belichick
10  NFC011        Joe Judge        Joe Judge
11  NFC012    Doug Pederson    Nick Sirianni
12  NFC013     Pete Carroll     Pete Carroll
13  NFC014    Kyle Shanahan    Kyle Shanahan
14  NFC015     Bruce Arians     Bruce Arians
15  NFC016       Ron Rivera       Ron Rivera

In [8]:
#Create ticket sales dataframe
sales_df= pd.read_csv("NFC Ticket Sales.csv")

In [49]:
sales_df.drop(sales_df.columns[1], axis =1, inplace = True)
sales_df

   team_id  sell_out_rate
0   NFC001           96.3
1   NFC002           90.1
2   NFC003           97.5
3   NFC004           98.9
4   NFC005           93.4
5   NFC006           79.9
6   NFC007           95.8
7   NFC008           98.2
8   NFC009          100.4
9   NFC010           94.9
10  NFC011           89.6
11  NFC012           99.9
12  NFC013           97.3
13  NFC014           99.5
14  NFC015           99.3
15  NFC016           64.3

In [51]:
# Import joined table from SQL DB
wins_and_sales_df = pd.read_sql_table('wins_and_sales',db_string)
wins_and_sales_df

   team_id                 team_name win_pct  sell_out_rate
0   NFC006             Detroit Lions   0.206           79.9
1   NFC011           New York Giants   0.235           89.6
2   NFC003         Carolina Panthers   0.294           97.5
3   NFC004             Chicago Bears   0.353           98.9
4   NFC016  Washington Football Team   0.412           64.3
5   NFC002           Atlanta Falcons   0.412           90.1
6   NFC014          Seattle Seahawks   0.412           99.5
7   NFC009         Minnesota Vikings   0.471          100.4
8   NFC012       Philadelphia Eagles   0.529           99.9
9   NFC010        New Orleans Saints   0.529           94.9
10  NFC013       San Francisco 49ers   0.588           97.3
11  NFC001         Arizona Cardinals   0.647           96.3
12  NFC008          Los Angeles Rams   0.706           98.2
13  NFC005            Dallas Cowboys   0.706           93.4
14  NFC007         Green Bay Packers   0.765           95.8
15  NFC015      Tampa Bay Buccaneers   0.765           99.3

In [64]:
NFC_DF = pd.merge(wins_and_sales_df,standings_df, on=["team_id"])
NFC_DF = pd.merge(coach_df,NFC_DF, on=["team_id","team_id"])
NFC_DF.drop(NFC_DF.columns[4], axis =1, inplace = True)
NFC_DF

,team_id,coach_2020,coach_2021,team_name,sell_out_rate,wins,losses,win_pct_y
0,NFC001,Kliff Kingsbury,Kliff Kingsbury,Arizona Cardinals,96.3,11,6,0.647
1,NFC002,Raheem Morris,Arthur Smith,Atlanta Falcons,90.1,7,10,0.412
2,NFC003,Matt Rhule,Matt Rhule,Carolina Panthers,97.5,5,12,0.294
3,NFC004,Matt Nagy,Matt Nagy,Chicago Bears,98.9,6,11,0.353
4,NFC005,Mike McCarthy,Mike McCarthy,Dallas Cowboys,93.4,12,5,0.706
5,NFC006,Matt Patricia,Dan Campbell,Detroit Lions,79.9,3,13,0.206
6,NFC007,Matt LaFleur,Matt LaFleur,Green Bay Packers,95.8,13,4,0.765
7,NFC008,Jon Gruden,Jon Gruden,Los Angeles Rams,98.2,12,5,0.706
8,NFC009,Mike Zimmer,Mike Zimmer,Minnesota Vikings,100.4,8,9,0.471
9,NFC010,Bill Belichick,Bill Belichick,New Orleans Saints,94.9,9,8,0.529
10,NFC011,Joe Judge,Joe Judge,New York Giants,89.6,4,13,0.235
11,NFC012,Doug Pederson,Nick Sirianni,Philadelphia Eagles,99.9,9,8,0.529
12,NFC013,Pete Carroll,Pete Carroll,San Francisco 49ers,97.3,10,7,0.588
13,NFC014,Kyle Shanahan,Kyle Shanahan,Seattle Seahawks,99.5,7,10,0.412
14,NFC015,Bruce Arians,Bruce Arians,Tampa Bay Buccaneers,99.3,13,4,0.765
15,NFC016,Ron Rivera,Ron Rivera,Washington Football Team,64.3,7,10,0.412

In [65]:
team_ratings_df = pd.read_csv("team_ratings.csv")
team_ratings_df

   team_id  Starting QBR   Off Rating  Def Rating Coach Return Staff Return
0   NFC001          100.6        86.0        79.5            Y            Y
1   NFC002           90.4        55.0        78.6            Y            N
2   NFC003           68.2        43.0        80.2            Y            N
3   NFC004           73.2        73.5        80.1            N            N
4   NFC005          104.2        90.7        68.0            Y            Y
5   NFC006           91.5        81.5        78.5            Y            Y
6   NFC007          111.9        90.3        78.5            Y            N
7   NFC008          102.9        84.8        79.7            Y            Y
8   NFC009          103.1        87.4        77.7            N            N
9   NFC010           95.6        52.8        81.3            N            Y
10  NFC011           84.2        69.1        77.4            N            N
11  NFC012           87.2        86.3        82.5            Y            Y
12  NFC014          103.1        94.0        80.5            Y            N
13  NFC013           98.7        86.2        82.8            Y            N
14  NFC015          102.1        61.3        80.5            N            Y
15  NFC016           85.9        79.1        67.0            Y            Y

In [66]:
NFC_DF = pd.merge(NFC_DF,team_ratings_df, on=["team_id"])
NFC_DF

,team_id,coach_2020,coach_2021,team_name,sell_out_rate,wins,losses,win_pct_y,Starting QBR,Off Rating,Def Rating,Coach Return,Staff Return
0,NFC001,Kliff Kingsbury,Kliff Kingsbury,Arizona Cardinals,96.3,11,6,0.647,100.6,86.0,79.5,Y,Y
1,NFC002,Raheem Morris,Arthur Smith,Atlanta Falcons,90.1,7,10,0.412,90.4,55.0,78.6,Y,N
2,NFC003,Matt Rhule,Matt Rhule,Carolina Panthers,97.5,5,12,0.294,68.2,43.0,80.2,Y,N
3,NFC004,Matt Nagy,Matt Nagy,Chicago Bears,98.9,6,11,0.353,73.2,73.5,80.1,N,N
4,NFC005,Mike McCarthy,Mike McCarthy,Dallas Cowboys,93.4,12,5,0.706,104.2,90.7,68.0,Y,Y
5,NFC006,Matt Patricia,Dan Campbell,Detroit Lions,79.9,3,13,0.206,91.5,81.5,78.5,Y,Y
6,NFC007,Matt LaFleur,Matt LaFleur,Green Bay Packers,95.8,13,4,0.765,111.9,90.3,78.5,Y,N
7,NFC008,Jon Gruden,Jon Gruden,Los Angeles Rams,98.2,12,5,0.706,102.9,84.8,79.7,Y,Y
8,NFC009,Mike Zimmer,Mike Zimmer,Minnesota Vikings,100.4,8,9,0.471,103.1,87.4,77.7,N,N
9,NFC010,Bill Belichick,Bill Belichick,New Orleans Saints,94.9,9,8,0.529,95.6,52.8,81.3,N,Y
10,NFC011,Joe Judge,Joe Judge,New York Giants,89.6,4,13,0.235,84.2,69.1,77.4,N,N
11,NFC012,Doug Pederson,Nick Sirianni,Philadelphia Eagles,99.9,9,8,0.529,87.2,86.3,82.5,Y,Y
12,NFC013,Pete Carroll,Pete Carroll,San Francisco 49ers,97.3,10,7,0.588,98.7,86.2,82.8,Y,N
13,NFC014,Kyle Shanahan,Kyle Shanahan,Seattle Seahawks,99.5,7,10,0.412,103.1,94.0,80.5,Y,N
14,NFC015,Bruce Arians,Bruce Arians,Tampa Bay Buccaneers,99.3,13,4,0.765,102.1,61.3,80.5,N,Y
15,NFC016,Ron Rivera,Ron Rivera,Washington Football Team,64.3,7,10,0.412,85.9,79.1,67.0,Y,Y

In [78]:
y = NFC_DF['wins']
X= NFC_DF.drop(columns=['wins','team_id','coach_2020','coach_2021','team_name'])
X

,sell_out_rate,losses,win_pct_y,Starting QBR,Off Rating,Def Rating,Coach Return,Staff Return
0,96.3,6,0.647,100.6,86.0,79.5,Y,Y
1,90.1,10,0.412,90.4,55.0,78.6,Y,N
2,97.5,12,0.294,68.2,43.0,80.2,Y,N
3,98.9,11,0.353,73.2,73.5,80.1,N,N
4,93.4,5,0.706,104.2,90.7,68.0,Y,Y
5,79.9,13,0.206,91.5,81.5,78.5,Y,Y
6,95.8,4,0.765,111.9,90.3,78.5,Y,N
7,98.2,5,0.706,102.9,84.8,79.7,Y,Y
8,100.4,9,0.471,103.1,87.4,77.7,N,N
9,94.9,8,0.529,95.6,52.8,81.3,N,Y
10,89.6,13,0.235,84.2,69.1,77.4,N,N
11,99.9,8,0.529,87.2,86.3,82.5,Y,Y
12,97.3,7,0.588,98.7,86.2,82.8,Y,N
13,99.5,10,0.412,103.1,94.0,80.5,Y,N
14,99.3,4,0.765,102.1,61.3,80.5,N,Y
15,64.3,10,0.412,85.9,79.1,67.0,Y,Y

In [81]:
NFC_DF('Coach Return').replace(('Y','N'),(1,0), inplace =True)

#model = LinearRegression()
#model.fit(X, y)

TypeError: 'DataFrame' object is not callable

In [ ]:
y_pred = model.predict(X)
print(y_pred.shape)