In [1]:
#Import dependencies

from sqlalchemy import create_engine
import pandas as pd
import os

In [2]:
#Create password variable
from config import db_password

In [3]:
#Create connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/NFL Predict"

In [4]:
#Create the database engine
engine = create_engine(db_string)

In [5]:
#Import SQL tables as dataframes

coach_df = pd.read_sql_table('coach_rtrn',db_string)
standings_df = pd.read_sql_table('nfc_standings',db_string)

In [6]:
standings_df

   team_id                 team_name  wins  losses win_pct
0   NFC001         Arizona Cardinals    11       6   0.647
1   NFC002           Atlanta Falcons     7      10   0.412
2   NFC003         Carolina Panthers     5      12   0.294
3   NFC004             Chicago Bears     6      11   0.353
4   NFC005            Dallas Cowboys    12       5   0.706
5   NFC006             Detroit Lions     3      13   0.206
6   NFC007         Green Bay Packers    13       4   0.765
7   NFC008          Los Angeles Rams    12       5   0.706
8   NFC009         Minnesota Vikings     8       9   0.471
9   NFC010        New Orleans Saints     9       8   0.529
10  NFC011           New York Giants     4      13   0.235
11  NFC012       Philadelphia Eagles     9       8   0.529
12  NFC013       San Francisco 49ers    10       7   0.588
13  NFC014          Seattle Seahawks     7      10   0.412
14  NFC015      Tampa Bay Buccaneers    13       4   0.765
15  NFC016  Washington Football Team     7      10   0.412

In [7]:
coach_df

   team_id team_name       coach_2020       coach_2021
0   NFC001       ARI  Kliff Kingsbury  Kliff Kingsbury
1   NFC002       ATL    Raheem Morris     Arthur Smith
2   NFC003       CAR       Matt Rhule       Matt Rhule
3   NFC004       CHI        Matt Nagy        Matt Nagy
4   NFC005       DAL    Mike McCarthy    Mike McCarthy
5   NFC006       DET    Matt Patricia     Dan Campbell
6   NFC007       GNB     Matt LaFleur     Matt LaFleur
7   NFC008       LVR       Jon Gruden       Jon Gruden
8   NFC009       MIN      Mike Zimmer      Mike Zimmer
9   NFC010       NWE   Bill Belichick   Bill Belichick
10  NFC011       NYG        Joe Judge        Joe Judge
11  NFC012       PHI    Doug Pederson    Nick Sirianni
12  NFC013       SEA     Pete Carroll     Pete Carroll
13  NFC014       SFO    Kyle Shanahan    Kyle Shanahan
14  NFC015       TAM     Bruce Arians     Bruce Arians
15  NFC016       WAS       Ron Rivera       Ron Rivera

In [8]:
#Create ticket sales dataframe
sales_df= pd.read_csv("NFC Ticket Sales.csv")

In [23]:
sales_df

   team_id      team_name  sell_out_rate
0   NFC001        Arizona           96.3
1   NFC002        Atlanta           90.1
2   NFC003       Carolina           97.5
3   NFC004        Chicago           98.9
4   NFC005         Dallas           93.4
5   NFC006        Detroit           79.9
6   NFC007      Green Bay           95.8
7   NFC008    Los Angeles           98.2
8   NFC009      Minnesota          100.4
9   NFC010    New Orleans           94.9
10  NFC011      NY Giants           89.6
11  NFC012   Philadelphia           99.9
12  NFC013  San Francisco           97.3
13  NFC014        Seattle           99.5
14  NFC015      Tampa Bay           99.3
15  NFC016     Washington           64.3

In [14]:
# Create 'Sales' table in SQL Database
sales_df.to_sql('sales',con=engine)

In [24]:
# Import joined table from SQL DB
wins_and_sales_df = pd.read_sql_table('wins_and_sales',db_string)
wins_and_sales_df

   team_id                 team_name win_pct  sell_out_rate
0   NFC006             Detroit Lions   0.206           79.9
1   NFC011           New York Giants   0.235           89.6
2   NFC003         Carolina Panthers   0.294           97.5
3   NFC004             Chicago Bears   0.353           98.9
4   NFC016  Washington Football Team   0.412           64.3
5   NFC002           Atlanta Falcons   0.412           90.1
6   NFC014          Seattle Seahawks   0.412           99.5
7   NFC009         Minnesota Vikings   0.471          100.4
8   NFC012       Philadelphia Eagles   0.529           99.9
9   NFC010        New Orleans Saints   0.529           94.9
10  NFC013       San Francisco 49ers   0.588           97.3
11  NFC001         Arizona Cardinals   0.647           96.3
12  NFC008          Los Angeles Rams   0.706           98.2
13  NFC005            Dallas Cowboys   0.706           93.4
14  NFC007         Green Bay Packers   0.765           95.8
15  NFC015      Tampa Bay Buccaneers   0.765           99.3